In [1]:
personal_bio={"first_name":"Yasir",
              "last_name":"Ahmed",
              "address":"Karach,Pakistan"}

In [2]:
personal_bio.keys()

dict_keys(['first_name', 'last_name', 'address'])

In [3]:
personal_bio.values()

dict_values(['Yasir', 'Ahmed', 'Karach,Pakistan'])

In [4]:
personal_bio.items()

dict_items([('first_name', 'Yasir'), ('last_name', 'Ahmed'), ('address', 'Karach,Pakistan')])

In [9]:
for key, value in personal_bio.items():
    print(f" keys is  \"{key}\" and values is \"{value}\"")

 keys is  "first_name" and values is "Yasir"
 keys is  "last_name" and values is "Ahmed"
 keys is  "address" and values is "Karach,Pakistan"

In [10]:
list(personal_bio.items())[0][0]

'first_name'

In [11]:
personal_bio

{'first_name': 'Yasir', 'last_name': 'Ahmed', 'address': 'Karach,Pakistan'}

In [13]:
bio_list=[personal_bio]

In [14]:
bio_list

[{'first_name': 'Yasir', 'last_name': 'Ahmed', 'address': 'Karach,Pakistan'}]

In [18]:
for a in personal_bio:
    print(a)

first_name
last_name
address

In [20]:
bio_list.append(personal_bio)

In [21]:
bio_list

[{'first_name': 'Yasir', 'last_name': 'Ahmed', 'address': 'Karach,Pakistan'},
 {'first_name': 'Yasir', 'last_name': 'Ahmed', 'address': 'Karach,Pakistan'}]

In [23]:
len(bio_list)

2

In [26]:
customers= {0:
    {'first name': 'David',
    'last name': 'Elliott',
    'address': '4803 Wellesley St.',
    'city': 'LA'},
    1:{'first name': 'Qasim',
    'last name': 'Hassan',
    'address': 'Near SMIT',
    'city': 'Karachi'},
    2:{'first name': 'Hassan',
    'last name': 'Khan',
    'address': 'Johar town',
    'city': 'Lahore'}}

In [27]:
customers

{0: {'first name': 'David',
  'last name': 'Elliott',
  'address': '4803 Wellesley St.',
  'city': 'LA'},
 1: {'first name': 'Qasim',
  'last name': 'Hassan',
  'address': 'Near SMIT',
  'city': 'Karachi'},
 2: {'first name': 'Hassan',
  'last name': 'Khan',
  'address': 'Johar town',
  'city': 'Lahore'}}

In [42]:
for customer in customers:
    print(customer)
print(customers[customer]['address'])

0
1
2
Johar town

In [45]:
for i in range(len(customers)):
    print(customers[i]["address"])

4803 Wellesley St.
Near SMIT
Johar town

In [51]:
for i in customers.values():
    print(customers)

{0: {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}, 1: {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}, 2: {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}}
{0: {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}, 1: {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}, 2: {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}}
{0: {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}, 1: {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}, 2: {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}}

In [55]:
for i in customers.items():
    print(customers)

{0: {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}, 1: {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}, 2: {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}}
{0: {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}, 1: {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}, 2: {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}}
{0: {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}, 1: {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}, 2: {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}}

In [56]:
for key, value in customers.items():
    print(key)
    print(value)
    print(customers[key])

0
{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}
{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}
1
{'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}
{'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}
2
{'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}
{'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}

In [61]:
for key, value in customers.items():
    print(f" key is:{key}")
    print(f" value is:{value}")
    #extracting address using keys 
    print(f" address of key{key} is {customers[key]['address']}")
    print("---------")
    #extracting address using values
    print(f"value is:{value}")
    print(f" address of value {value} is {value['address']}")
    print("***** loop ends****")

 key is:0
 value is:{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}
 address of key0 is 4803 Wellesley St.
---------
value is:{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}
 address of value {'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'} is 4803 Wellesley St.
***** loop ends****
 key is:1
 value is:{'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}
 address of key1 is Near SMIT
---------
value is:{'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}
 address of value {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'} is Near SMIT
***** loop ends****
 key is:2
 value is:{'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}
 address of key2 is Johar town
---------
value is:{'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}
 address of value {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'} is Johar town
***** loop ends****

In [66]:
saylani_dict={"python":{"timings":"MWF","Instructor":"ayan"},
              "data eng":{"timings":"TWT","Instructor":"Sir"}
                }

In [68]:
for key, value in saylani_dict.items():
    print(key, value)

python {'timings': 'MWF', 'Instructor': 'ayan'}
data eng {'timings': 'TWT', 'Instructor': 'Sir'}

In [69]:
for key in saylani_dict.keys():
    print(key)

python
data eng

In [71]:
for value in saylani_dict.values():
    print(value)

{'timings': 'MWF', 'Instructor': 'ayan'}
{'timings': 'TWT', 'Instructor': 'Sir'}

In [72]:
saylani_dict.keys()

dict_keys(['python', 'data eng'])

In [77]:
for key, value in saylani_dict.items():
    print(f" key is:{key}")
    print(f" value is:{value}")

 key is:python
 value is:{'timings': 'MWF', 'Instructor': 'ayan'}
 key is:data eng
 value is:{'timings': 'TWT', 'Instructor': 'Sir'}

# FUNCTIONS

In [79]:
def print_func():
    print("saylani")
print_func()

saylani

In [81]:
def sum_func():
    print(1+2)
sum_func()

3

In [82]:
def add():
    a=2
    b=3
    total=a+b
    print(total)
add()

5

In [85]:
def add(a, b):
    print(a+b)
add(2,5)

7

In [86]:
add(66,44)

110

#kelvin= Celsius+273.15

In [92]:
def temp_kelvin(celsius, default_kelvin_value=273.15):
    print(celsius+ default_kelvin_value)

In [93]:
temp_kelvin(45, 273)

318

In [94]:
temp_kelvin(45)

318.15

In [95]:
def temp_kelvin(default_kelvin_value=273.15, celsius):
    print(celsius+ default_kelvin_value)

SyntaxError: non-default argument follows default argument (1385374386.py, line 1)

In [115]:
def greetings(first_name, last_name, Greetings="Welcome"):
    print(f"Hey, {first_name} {last_name} {Greetings}")

In [116]:
greetings("Yasir","Ahmed")

Hey, Yasir Ahmed Welcome

# END WITH CHAPTER 45