In [1]:
tp_bio_data=("Yasir","Student","9to12")
type(tp_bio_data)

tuple

In [2]:
tp=(1,)
print(tp)

(1,)

In [3]:
type(tp)

tuple

In [4]:
tp=(1)
type(tp)

int

In [5]:
print(tp_bio_data.count(1))

0

In [20]:
about_me=("Yasir","24","2000")
for about_me in about_me:
    print(about_me)

Yasir
24
2000

In [14]:
about_me.count(1)

0

In [15]:
about_me.index("Yasir")

0

# LOOPS

In [19]:
fruits=["Mango","Apple","Grapes","Banana","Strawberry"]
for fruit in fruits:
    print(fruit)

Mango
Apple
Grapes
Banana
Strawberry

In [21]:
enumerate(fruits)

In [22]:
em_fruits=enumerate(fruits)
em_fruits

In [23]:
print(fruits)

['Mango', 'Apple', 'Grapes', 'Banana', 'Strawberry']

In [24]:
em_fruits= enumerate(fruits)
print(list(em_fruits))

[(0, 'Mango'), (1, 'Apple'), (2, 'Grapes'), (3, 'Banana'), (4, 'Strawberry')]

In [26]:
for data in enumerate(fruits):
    print(data)

(0, 'Mango')
(1, 'Apple')
(2, 'Grapes')
(3, 'Banana')
(4, 'Strawberry')

In [27]:
for date in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Strawberry is at 4
Strawberry is at 4
Strawberry is at 4
Strawberry is at 4
Strawberry is at 4

In [30]:
fruit_index=[0,1,2,3]
print(fruit_index)
fruits

[0, 1, 2, 3]

['Mango', 'Apple', 'Grapes', 'Banana', 'Strawberry']

In [31]:
for data in zip(fruit_index,fruits):
    print(data)

(0, 'Mango')
(1, 'Apple')
(2, 'Grapes')
(3, 'Banana')

In [32]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [33]:
for temp in range(2,5,2):
    print(temp)

2
4

In [37]:
for temp in range(20,25,3):
    print(temp)

20
23

In [38]:
fruits

['Mango', 'Apple', 'Grapes', 'Banana', 'Strawberry']

In [40]:
for i in range(15):
    print("apple")

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [45]:
print("apple\n"*15)

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [49]:
clean_cities=["karachi","Lahore","Multan"]
non_clean_cities=[]
print(input("clean_cities:"))

clean_cities: Karachi

Karachi

In [52]:
group_A=["karachi","lahore","multan"]
group_B=[]
user_input=input("Your city is already in group A:")
if user_input in group_A:
    print("your city is clean")
else:
    print("Your city is not clean")
group_B.append(user_input)
print(group_B)

Your city is already in group A: Faislabad

Your city is not clean
['Faislabad']

In [54]:
for a in range(len(group_A)):
    for b in range(len(group_B)):
        print(group_A[a], 'vs' , group_B[b])
        if group_A[a]==group_B[b]:
            print("Matched")
            break;

karachi vs Faislabad
lahore vs Faislabad
multan vs Faislabad

In [55]:
dict={"age":24,"weight":47}
dict["age"]

24

In [57]:
customer={"f_name":"Yasir","l_name":"Ahmed","address":"karachi"}
customer["address"]

'karachi'

In [62]:
customer["phone"]=4324324
print(customer)

{'f_name': 'Yasir', 'l_name': 'Ahmed', 'address': 'karachi', 'phone': 4324324}

In [63]:
customer["city"]="karachi"

In [69]:
dict={}
taskcount=input("tasks:")
for count in range(int(taskcount)):
    dict['task'+str(count)]=input("Enter your task:")
    dict

tasks: 4
Enter your task: work
Enter your task: gym
Enter your task: uni
Enter your task: python

In [70]:
del customer["phone"]

### looping in dict
#### By default keys
### for values we should use .values() method

In [71]:
for temp in customer:
    print(temp)

f_name
l_name
address
city

In [72]:
for key, value in customer.items():
    print(key, "-->" ,value)

f_name --> Yasir
l_name --> Ahmed
address --> karachi
city --> karachi

In [73]:
customer

{'f_name': 'Yasir', 'l_name': 'Ahmed', 'address': 'karachi', 'city': 'karachi'}

In [1]:
list_of_dict = [
    {'first name': 'David',
    'last name': 'Elliott',
    'address': '4803 Wellesley St.',
    'city': 'LA'},
    {'first name': 'Qasim',
    'last name': 'Hassan',
    'address': 'Near SMIT',
    'city': 'Karachi'},
    {'first name': 'Hassan',
    'last name': 'Khan',
    'address': 'Johar town',
    'city': 'Lahore'}
]

In [2]:
print(list_of_dict)

[{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'city': 'LA'}, {'first name': 'Qasim', 'last name': 'Hassan', 'address': 'Near SMIT', 'city': 'Karachi'}, {'first name': 'Hassan', 'last name': 'Khan', 'address': 'Johar town', 'city': 'Lahore'}]

In [3]:
group_A=["karachi","lahore","multan"]
group_B=[]
user_input=input("Your city is already in group A:")
if user_input in group_A:
    print("your city is clean")
else:
    print("Your city is not clean")
group_B.append(user_input)
print(group_B)

Your city is already in group A: karachi

your city is clean
['karachi']

In [9]:
group_c=["yasir","saqib","basit","asif","usman","rawaid"]
group_d=[]
user_input=input("Your name is already in group c:")
if user_input in group_c:
    print("your name is clean")
else:
    print("your name is not clean:")
for group_c in range(len(group_c)):
    print(group_c)    
group_d.append(user_input)
print(group_d)

Your name is already in group c: karachi

your name is not clean:
0
1
2
3
4
5
['karachi']

In [13]:
list_of_dict = [
    {'first name': 'David',
    'last name': 'Elliott',
    'address': '4803 Wellesley St.',
    'city': 'LA'},
    {'first name': 'Qasim',
    'last name': 'Hassan',
    'address': 'Near SMIT',
    'city': 'Karachi'},
    {'first name': 'Hassan',
    'last name': 'Khan',
    'address': 'Johar town',
    'city': 'Lahore'}
]
list2={}
user_input=input("enter key or value:")
if user_input in list_of_dict:
    print("your name is on the list:")
else:
    print("your detail is not on the list:")

enter key or value: David

your detail is not on the list: